body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.body-puzzle {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.80)), to(rgba(0, 0, 0, 0.80))), url(images/cherry-blossom-background.png);
    background-image: linear-gradient(rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.80)), url(images/cherry-blossom-background.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

}

.clearfix:after {
    content: "";
    clear: both;
    display:block;
}


/*======================================================================================================================================*/
/*HEADING */
/*======================================================================================================================================*/

#logo {

    margin: auto;
    display: block;

    margin-top: 50px;
    -webkit-box-shadow: 0 6px white;
    box-shadow: 0 6px white;

}

#heading h2 {
    text-align: center;
    font-size: 50px;
    color: aliceblue;
    text-transform: uppercase;

    background: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 29, 255, 0.75)), to(rgba(255, 255, 255, 0.37)));

    background: linear-gradient(to bottom right, rgba(0, 29, 255, 0.75), rgba(255, 255, 255, 0.37));
    text-shadow: 0 4px #000000;

    margin-top: 10px;
}


/*======================================================================================================================================*/
/*PUZZLE-GRID */
/*======================================================================================================================================*/

/*.puzzle-grid {

    background: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 29, 255, 0.75)), to(rgba(11, 1, 1, 0.75)));

    background: linear-gradient(to bottom right, rgba(0, 29, 255, 0.75), rgba(11, 1, 1, 0.75));
    background-size: 62%;
    background-repeat: no-repeat;
    padding: 10px;

    margin-left: 350px;
    margin-bottom: 50px;
}*/

/*======================================================================================================================================*/
/*PUZZLE-GRID-PIECES */
/*======================================================================================================================================*/

/*===============================GRID-1 ================================= */

#grid1-1 {
    position: absolute;
    left: 150px;
    top: 350px;
    
}

#grid1-2 {
    position: absolute;
    left: 349px;
    top: 350px;
}

#grid1-3 {
    position: absolute;
    left: 548px;
    top: 350px;

}

/*===============================GRID-2 ================================= */

#grid2-1 {
    position: absolute;
    left: 150px;
    top: 549px;
}

#grid2-2 {
    position: absolute;
    left: 349px;
    top: 549px;
}

#grid2-3 {
    position: absolute;
    left: 548px;
    top: 549px;
}

/*===============================GRID-3 ================================= */

#grid3-1 {
    position: absolute;
    left: 150px;
    top: 747px;
}

#grid3-2 {
    position: absolute;
    left: 349px;
    top: 747px;
}

#grid3-3 {
    position: absolute;
    left: 548px;
    top: 747px;
    
    padding-bottom: 50px;
}

/*======================================================================================================================================*/
/*PUZZLE-PIECES */
/*======================================================================================================================================*/

/*===============================GRID-1 ================================= */

#img1-1-draggable {
    position: absolute;
    transform: rotate(45deg) scale(0.70);
    right: 50px;

}

#img1-2-draggable {
    position: absolute;
    transform: rotate(90deg) scale(0.70);
    top: 650px;
    right: 20px;
}

#img1-3-draggable {
    position: absolute;
    transform: rotate(195deg) scale(0.70);
    right: 70px;
    top: 410px;
    
}

/*===============================GRID-2 ================================= */

#img2-1-draggable {
    position: absolute;
    transform: rotate(270deg) scale(0.7);
    top: 450px;
    right: 0;

}

#img2-2-draggable {
    position: absolute;
    transform: rotate(70deg) scale(0.7);
    bottom: -500px;
    left: 20px;

}

#img2-3-draggable {
    position: absolute;
    transform: scale(0.7);
    bottom: -500px;
    left: 150px;

}

/*===============================GRID-3 ================================= */

#img3-1-draggable {
    position: absolute;
    transform: rotate(6deg) scale(0.7);
    bottom: -220px;
    right: 0;

}

#img3-2-draggable {
    position: absolute;
    transform: scale(0.7);
    bottom: -500px;
    left: 350px;

}

#img3-3-draggable {
    position: absolute;

    transform: rotate(95deg) scale(0.7);
    bottom: -500px;
    right: 270px;

}

